.active-link {
    color: rgb(111, 174, 191);
    /* margin-left: 1em; */
    padding-right: 1em;
    padding-left: 1em;
    text-decoration: none;
    border-radius: 50px 20px;

}

/* a:link {
    color: red;
} */

/* visited link */
/* a:visited {
    color: green;
} */

/* mouse over link */
a:hover {
    color: rgb(54, 57, 58);
    background-color: rgb(212, 201, 201);
    /* border: 1px solid rgb(71, 173, 214); */
}

/* selected link */
a:active {
    color: blue;
}

.container-header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    opacity: 0.7;
    width: 100%;
}

.logo {
    margin-left: 1em;
    padding-top: 0.2em;
}