.trainer-page-container {
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    /* gap: 2em; */
    margin-top: 3em;
    padding-top: 2em;
}

@media screen and (min-width: 1500px) {
    .trainer-page-container {
        justify-content: flex-end;
    }

    .popup-container {
        margin-right: 5em;
    }
}

.trainer-actions-container {
    display: block;
    width: 17em;
    align-content: center;
    padding: 0 1em 0 1em;
    border-left: 1.8px dashed rgb(97, 133, 210);
    height: 15em;
}

.trainer-image-home-container {
    background-image: url("https://static.wixstatic.com/media/4103a2_aaf38e85cafe4be199c1c95da18d5e24~mv2.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -8em;
    /* opacity: 0.7; */
    width: 62em;
    height: 80vh;
    /* border-radius: 2em; */
    margin-right: 2em;
}

.trainer-actions-btn {
    font-size: 0.8em;
    border-radius: 50em;
    background-color: rgb(52, 73, 146);
    color: whitesmoke;
    width: 12em;
}

.trainer-actions-btn:hover {
    background-color: whitesmoke;
    color: blue;
    cursor: pointer;
    transition: all 300ms linear;
}

.trainer-actions-btn:focus {
    background-color: whitesmoke;
    color: blue;
}

.popup-container {
    width: 62em;
    height: 80vh;
    display: flex;
    justify-content: center;
    margin-left: 2em;
}

.postCourse-popup {
    width: 30em;
    height: 18em;
    /* opacity: none; */
    background-color: rgb(120, 167, 255);
    z-index: 2;
    position: relative;
    top: 8vh;
    left: calc(17% - 8rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.popup-labels {
    height: 10em;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}

.popupForm-field {
    width: 15em;
    margin: 3px 0 3px 0;
    /* padding: 15px; */
    /* font-size: 16px; */
    margin: 0.8em;
    border: none;
    border-radius: 16px;
    font-family: "Roboto", sans-serif;
    background-color: rgb(232, 238, 240);
    display: flex;
    /* flex-wrap: wrap; */
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 0px 20px;
    caret-color: rgb(19, 251, 251);
}

.popupForm-field:focus {
    background-color: rgb(120, 167, 255);
    color: white;
}

.popupForm-field:focus::-webkit-input-placeholder {
    color: white;
}

.popupForm-field:hover::-webkit-input-placeholder {
    color: rgb(237, 119, 23);
    font-weight: bold;
    font-family: Geneva, Verdana, sans-serif;
}

.popupForm-field:hover {
    background-color: rgb(52, 73, 146);
    color: white;
}


.btn-popup {
    background: rgb(52, 73, 146);
    color: white;
    cursor: pointer;
    margin: 10px 0 10px 0;
    width: 12em;
    height: 2.7em;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    font-family: sans-serif;
}

.btn-popup:hover {
    background-color: rgb(232, 238, 240);
    color: rgb(52, 73, 146);
    font-weight: bold;
    border-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.btn-popup:focus {
    background-color: rgb(120, 167, 255);
    color: black;
    font-weight: bold;
}

.file-field {
    height: 32px;
    outline: none;
    border-bottom: 1.4px solid transparent;
    font-size: 14px;
    margin-top: 1.5em;
    margin-left: 1.5em;
}

.error-span {
    font-size: 12px;
    color: red;
    display: inline-flex;
    width: 14em;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.courses-buttons-div {
    display: flex;
    flex-direction: row;
    margin-bottom: 2em;
    padding-left: 1em;
}

.filteredButtons-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 0.5em;
}

.filteredButtons {
    margin-right: 0.2em;
    background-color: rgb(155, 155, 198);
    border: 2px solid rgb(120, 167, 255);
    /* border-radius: 2em; */
}

.filteredButtons:hover {
    background-color: rgb(52, 73, 146);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: white;
}

.coursesAmount-container {
    display: flex;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium';
    /* font-weight: bold; */
    align-items: flex-end;
    margin-right: 1em;
    padding-left: 0.3em;
    width: 6em;
    border-top: 1px dashed blue;
    /* border-bottom: 1px dotted blue; */
    border-bottom: 1px dashed blue
}

.close-postCourse-btn {
    background-color: white;
    border-radius: 50%;
    border: 1px solid rgb(185, 121, 121);
    background-color: rgb(48, 44, 44);
    opacity: 1;
    height: 2em;
    width: 2em;
}

.close-postCourse-btn:before {
    content: "✖";
    cursor: pointer;
    color: white;
    opacity: 0.8;
}

.close-postCourse-btn:hover {
    background-color: red;
}

.success-posting {
    margin-top: -2em;
    color: rgb(52, 73, 146);
    text-decoration: underLine;
    text-decoration-color: rgb(226, 188, 142);
}

.message-emptyArr {
    width: 42.5em;
    display: flex;
    justify-content: flex-end;
    padding-right: 2em;
    font-size: 30px;
    color: blueviolet;
}

.my-courses-form {
    display: flex;
    flex-direction: column;
    width: 64.5em;

}

.allCoursesCards-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
    justify-content: center;
    padding-left: 3.3em;
    justify-content: flex-start;
    height: 25em;
    overflow: auto;
}

@media screen and (min-width: 1300px) {
    .allCoursesCards-container {
        height: 35em;
    }
}

.allCoursesCards-container::-webkit-scrollbar {
    height: 20px;
    width: 6px;
    margin-left: 0.2em;
}

.allCoursesCards-container::-webkit-scrollbar-thumb:hover {
    background: #054572;
    -webkit-border-radius: 1ex;
}

.courseCard-container {
    display: flex;
    flex-direction: column;
    width: 15em;
    height: 17em;
    overflow: auto;
    margin: 0 0.4em 0 0;
    padding-left: 0.1em;
    /* border: 1px dashed black; */
    /* border-left: 1px solid black; */
    border-style: solid;
    border-image:
        linear-gradient(to bottom,
            rgb(52, 73, 146),
            rgba(0, 0, 0, 0)) 1 100%;
    background: linear-gradient(-215deg, whitesmoke 0%, #adafbc 51%, #777b92 90%);

}

.course-title {
    color: rgb(136, 116, 116);
    padding: 0 0.3em 0 0.3em;
    border-bottom: 1px dotted rgb(200, 90, 90);
    /* line-height: 1.3em; */
}

.course-title .item {
    word-wrap: break-word;
    display: inline-block;
    max-width: calc(100% - 4px);
    color: rgb(70, 68, 68);
    /* text-decoration: underLine; */
    font-size: 12px;
    /* line-height: 1em; */
}

.numeric-items {
    font-size: 14px;
    color: #334598;
}

.customers-line {
    font-size: 12px;
    color: rgb(14, 109, 14);
}

.card-actions {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0.4em 2em 0em;
    padding-bottom: 0.2em;
    border-style: solid;
    border-image:
        linear-gradient(to top,
            rgb(73, 90, 151),
            rgba(0, 0, 0, 0)) 1 10%;
}

.card-btn {
    color: white;
    background-color: rgb(52, 73, 146);
    border-radius: 2em;
}

.card-btn:hover {
    background-color: red;

}