/* body {
  overflow: hidden;
} */

.register {
  /* background-color: #282c34; */
  min-height: 120vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* justify-content: center; */
  /* padding-top: 1em; */
  margin-top: 3em;
  padding-right: 1.5em;
  background-image: url("https://images.pexels.com/photos/207779/pexels-photo-207779.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  background-repeat: no-repeat;
  /* background-image: url("https://media.istockphoto.com/photos/personal-trainer-guiding-woman-doing-barbell-squats-at-gym-picture-id616121640?k=20&m=616121640&s=612x612&w=0&h=uu26D6gUs5w3JEXGbX9tCc3YcxCMlMOA13ane0or2Nc="); */

}